body{
	margin: 0;
	padding: 0;
}
#sim{
	display: grid;
	grid-template-columns: repeat(10, 140px [col-start]);
	grid-template-rows: repeat(8, 100px [col-start]);
}
.step{
	display: flex;
	flex-direction: column;
	border-style: solid;
	border-width: 3px;
	border-radius: 10px;
	border-color: black;
	width: 100px;
	align-items: center;
}

.cost{
	margin: 0em;
}

.edit{
	display: inline-flex;
	margin: 0.1em;
	padding: 1px;
}

.time{
	margin: 0em;
}
h3{
	margin: 0.3em;
}

.line{
  position:absolute;
  width:1px;
  background-color:black;
}  

button{
	margin: 0.1em;
}