<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CPSIM3</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

    {% extends 'navbar.html' %}
    {% block content %}
    <div class="tree">
        <ul id="sim">

        <button onclick="progress()", id="progress">Advance Date</button>
        <p id="days">days:</p>
        <p id="cost">Cost:</p>
        <p id="deadline">Deadline: </p>
        </ul>

    </div>

    <script src="{{ url_for('static', filename='js/render.js') }}"></script>

    {% endblock %}
</body>
</html>